--extra-index-url https://download.pytorch.org/whl/
torch==2.3.1+cpu; sys_platform == 'linux'
torch==2.3.1; sys_platform != 'linux'
transformers==4.35.0
fastapi==0.104.1
uvicorn==0.24.0.post1
numpy==1.24.1